
* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}


body {
    font-family: "Helvetica", sans-serif;
    line-height: 2;
    padding: 2em 2em;
    color: #555;
    background: white;
    -moz-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

#price-order{
  margin: 1em;
}

.knobs{
  position: relative;
  margin-left: -84px;
}

.button.r {
  position: relative;
  width: 96px;
  height: 24px;
  top: 2px;
  overflow: hidden;
  border-radius: 8px;
}

.checkbox {
  position: relative;
  width: 64px;
  height: 24px;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

/* Button */
#button .knobs:before,
#button .knobs:after {
  position: absolute;
  top: -8px;
  width: 84px;
  height: 4px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 0.5;
  padding: 12px 0px;
  border-radius: 6%;
}

#button .knobs:before {
  z-index: 2;
  content: "Increasing";
  background-color: #03a9f4;
}

#button .knobs:after {
  z-index: 1;
  content: "Decreasing";
  background-color: #f44336;
}

#button .checkbox:checked + .knobs:before {
  z-index: 1;
}

#button .checkbox:checked + .knobs:after {
  z-index: 2;
}

#button .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}

#log-out{
  background-color: #DDE2EBFF;
  border-radius: 5px;
  transition-duration: 1s;
}

#log-out:hover{
  color: white;
  background-color: #ff443a;
}

#to-my-items{
  background-color: #DDE2EBFF;
  border-radius: 5px;
  transition-duration: 1s;
}

#to-my-items:hover{
  color: white;
  background:#0099ff;
}

#log-in{
  background-color: #DDE2EBFF;
  border-radius: 5px;
  transition-duration: 1s;
}

#log-in:hover{
  background-color: #f3f436;
}

#register{
  background-color: #DDE2EBFF;
  border-radius: 5px;
  transition-duration: 1s;
}

#register:hover{
  background-color: #4bf0ff;
}

#next-page{
  position: relative;
  left: 10px;
  font-size: 16px;
  padding: 0px 30px;
  border-radius: 10px;
  background-color: skyblue;
  color: darkblue;
  border-width: 1px;
  transition-duration: 1s;
}

#next-page:hover{
  font-size: 17px;
  background-color: dodgerblue;
}

#previous-page{
  position: relative;
  right: 10px;
  font-size: 16px;
  padding: 0px 17px;
  border-radius: 10px;
  background-color: skyblue;
  color: darkblue;
  border-width: 1px;
  transition-duration: 1s;
}

#previous-page:hover{
  font-size: 17px;
  background-color: dodgerblue;
}

#top-right-corner{
  float: right;
  margin-top:10px;
}

#search-button{
  border-radius: 10px;
  background-color: #dde2eb;
  transition-duration: 1s;
}

#search-button:hover{
  background-color: #ff9c3d;
}

#visit-button{
  font-size: 16px;
  border-radius: 15px;
  background-color: #dde2eb;
  border-width: 2px;
  border-color: #89bb58;
  padding: 0px 18px;
  letter-spacing: 1px;
  transition-duration: 1s;
}

#visit-button:hover{
  color: white;
  background:#0099ff;
}

