
* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}


body {
    font-family: "Helvetica", sans-serif;
    line-height: 2;
    padding: 2em 2em;
    color: #555;
    background: white;
    -moz-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

#price-order{
  margin: 1em;
}

.knobs{
  position: relative;
  margin-left: -84px;
}

.button.r {
  position: relative;
  width: 96px;
  height: 24px;
  top: 2px;
  overflow: hidden;
  border-radius: 8px;
}

.checkbox {
  position: relative;
  width: 64px;
  height: 24px;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

/* Button */
#button .knobs:before,
#button .knobs:after {
  position: absolute;
  top: -8px;
  width: 84px;
  height: 4px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 0.5;
  padding: 12px 0px;
  background-color: #03a9f4;
  border-radius: 6%;
}

#button .knobs:before {
  z-index: 2;
  content: "Increasing";
}

#button .knobs:after {
  content: "Decreasing";
}

#button .knobs:after {
   z-index: 1;
  background-color: #f44336;
}

#button .checkbox:checked + .knobs:before {
  z-index: 1;
}

#button .checkbox:checked + .knobs:after {
  z-index: 2;
}

#button .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}
