body{
    background: rgb(112,210,179);
    background: linear-gradient(209deg, rgba(112,210,179,1) 0%, rgba(170,226,119,1) 8%, rgba(112,210,179,1) 27%);
}

.container {
    display: grid;
    grid-template-columns: 1.4fr 0.9fr 0.9fr 1fr 1.1fr 1fr;
    grid-template-rows: 0.4fr 0.3fr 0.4fr 0.4fr 3.8fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
    "HomepageButton . Title Title . ."
    ". . Category Category . ."
    ". . . . . ."
    "Description-header Description-header . Price Add-To-Wishlist ."
    "Description Description Image Image Image Image"
    ". . . Owner Owner .";
}

.HomepageButton { grid-area: HomepageButton; position: relative; }
#homepage-button {
    transform: translate(0%, 100%);
    border-radius: 4px;
    background-color: #4bca69;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    width: 150px;
    transition: all 1s;
    cursor: pointer;
}
#homepage-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 1s;
}
#homepage-button span:after {
    content: '\00ab''\00ab';
    position: absolute;
    opacity: 0;
    top: -1px;
    left: -3px;
    transition: 1s;
}
#homepage-button:hover span {
    padding-left: 20px;
}
#homepage-button:hover span:after {
    opacity: 1;
}
#span-homepage{
    float: left;
    margin-left: 10px;
}

.Description-header { grid-area: Description-header; position: relative;}
#description-header{

    text-align: center;
}

.Description { grid-area: Description; position: relative;
    border: 1px dashed #b3b4b3; background:rgba(179,180,179,0.15); margin-right: 10px;}
#description{
    text-align:justify;
    text-justify:auto;
    margin:10px;
    display: flex;
}

.Price { grid-area: Price; position: relative;}
#price{
    width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: gray;
}

.Add-To-Wishlist { grid-area: Add-To-Wishlist; position: relative;}
#wishlist-div{
    margin-top: 7px;
    width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.Image { grid-area: Image; position: relative;}
#image{
    margin: 10px;
    margin-top: 30px
}

.Owner { grid-area: Owner; position: relative;}
#owner-info{
    position: absolute;
    margin-top: 5px;
    padding-left: 5px;
    font-size: 17px;
    width: 260px;
    background-color: #6dd39e;
    border-width: 20px;
    border-radius: 5px;
    color: #f7f8f7;
}

.Title { grid-area: Title; position: relative;}

.Category { grid-area: Category; position: relative;}
