* {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
*:focus {
    outline: none;
}

body {
    font-family: "Helvetica", sans-serif;
    line-height: 2;
    padding: 2em 2em;
    color: #555;
    background: white;
    -moz-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

#homepage-button {
    display: inline-block;
    border-radius: 4px;
    background-color: #4bca69;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 220px;
    transition: all 1s;
    cursor: pointer;
}
#homepage-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 1s;
}
#homepage-button span:after {
    content: '\00ab''\00ab';
    position: absolute;
    opacity: 0;
    top: -1px;
    left: -3px;
    transition: 1s;
}
#homepage-button:hover span {
    padding-left: 30px;
}
#homepage-button:hover span:after {
    opacity: 1;
}
#span-homepage{
    float: left;
    margin-left: 10px;
}

#enlist-button {
    display: inline-block;
    border-radius: 4px;
    background-color: #42ca99;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 8px;
    width: 180px;
    transition: all 1s;
    cursor: pointer;
}
#enlist-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 1s;
}
#enlist-button span:after {
    content: '\002b';
    font-size: 25px;
    position: absolute;
    opacity: 0;
    top: -5px;
    right: -5px;
    transition: 1s;
}
#enlist-button:hover span {
    padding-right: 25px;
}
#enlist-button:hover span:after {
    opacity: 1;
}

#span-enlist{
    float: right;
    margin-right: 10px;
}
