body{
    background: rgb(250,248,223);
    background: radial-gradient(circle, rgba(250,248,223,1) 50%, rgba(222,218,173,1) 100%);
}

.container {
    display: grid;
    grid-template-columns: 1.4fr 0.9fr 0.9fr 1fr 1.1fr 1fr;
    grid-template-rows: 0.4fr 0.3fr 0.4fr 0.4fr 3.8fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
    "MyItemsButton . Title Title . ."
    ". . Category Category . ."
    ". . . . . ."
    "Description-header Description-header . Price Price ."
    "Description Description Image Image Image Image"
    ". Update-Page Update-Page Owner Owner .";
}

.MyItemsButton { grid-area: MyItemsButton; position: relative; }
#my-items-button {
    transform: translate(0%, 100%);
    border-radius: 4px;
    background-color: #748500;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    width: 150px;
    transition: all 1s;
    cursor: pointer;
}
#my-items-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 1s;
}
#my-items-button span:after {
    content: '\00ab''\00ab';
    position: absolute;
    opacity: 0;
    top: -1px;
    left: -3px;
    transition: 1s;
}
#my-items-button:hover span {
    padding-left: 20px;
}
#my-items-button:hover span:after {
    opacity: 1;
}

.Description-header { grid-area: Description-header; position: relative;}
#description-header{

    text-align: center;
}

.Description { grid-area: Description; position: relative;
    border: 1px dashed #b3b4b3; background:rgba(179,180,179,0.15); margin-right: 10px;}
#description{
    text-align:justify;
    text-justify:auto;
    margin:10px;
    width: 94%;
    height: 97%;
    background: #fffff0;
}

.Price { grid-area: Price; position: relative;
    text-align: center;}
#updated-price{
    width: 100px;
    background: #fffff0;
}

.Image { grid-area: Image; position: relative;}
#image{
    margin: 10px;
    margin-top: 30px;
    object-fit: contain;
}

.Owner { grid-area: Owner; position: relative;}
#owner-info{
    position: absolute;
    margin-top: 5px;
    padding-left: 5px;
    font-size: 17px;
    width: 260px;
    background-color: #394000;
    border-width: 20px;
    border-radius: 5px;
    color: #f7f8f7;
}
#owner-phone{
    width: 130px;
    background: #fffff0;
}

.Title { grid-area: Title; position: relative;
    text-align: center;}
#item-name{
    font-size: 25px;
    width: 200px;
    margin-top: 20px;
    background:  #fffff0;
}

.Category { grid-area: Category; position: relative;
    margin-top: 10px; text-align: center;}
#categories{
    background: #b3b4b3;
    font-size: 20px;
}

.Update-Page { grid-area: Update-Page; position: relative;
    text-align: center;}
#update-button{
    transform: translate(0%, 60%);
    border-radius: 5px;
    border-width: 5px;
    background-color: #b3b4b3;
    transition: 1s;
}
#update-button:hover{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1px;
    background-color: skyblue;
    color: white;
    letter-spacing: 1px;
}
